<div class="posterdiv">
<div class="col-xs-6">


<h1>poster & info</h1>

<div class="imagediv">
<h3><img src='<%=@result_ID["Poster"]%>' alt="Poster" width="300" height="300"></h3><br>
</div>

<class="infodiv">
<p>Plot: <%=@result_ID["Plot"]%><br>
Rated: <%=@result_ID["Rated"]%><br>
Released: <%=@result_ID["Released"]%><br>
Runtime: <%=@result_ID["Runtime"]%><br>
Genre: <%=@result_ID["Genre"]%><br>
Director: <%=@result_ID["Director"]%><br>
Actors: <%=@result_ID["Actors"]%></p>



  <div class="tickets">
  <br/><img src="http://www.colourbox.com/preview/6157741-890928-movie-clapboard-icon.jpg" alt="Tickets" width="250" height="250">
</div>


<br /><a href="/">New Search</a>

</div>



</div>
</div>